/* You can add global styles to this file, and also import other style files */
$maitai: #B45C04;
$gamboge: #EC940C;
$bazaar: #947474;
$antiquebrass: #C8785C;

body {
    background-color: $gamboge;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
