<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="../../../assets/large_crashcoding.png" width="115px" height="75px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink=""><i class="fas fa-home"></i> Home</a>
                </li>
                <ng-container *ngIf="logged">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/paises"><i class="fas fa-globe-americas"></i> Paises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Log out</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>  
</nav>
